.button{
  border: 1px solid var(--main-button-bg);
  padding: 8px 16px;
  background: var(--main-button-bg);
  color: var(--button-text);
  font-size: var(--button-font-size);
  border-radius: var(--button-radius);
  height: var(--button-height);
}
